<header class="header">
    <div class="header-profile">
        <div class="logo">
            <img src="./../../../../.././../assets/myphoto.webp" alt="photo">
        </div>
        <h2>MANIGANDAN</h2>
    </div>
    <ul class="nav">
        <li class="nav-items">HOME</li>
        <li class="nav-items">ABOUT</li>
        <li class="nav-items">PROJECTS</li>
        <li class="nav-items">CONTACT</li>
    </ul>
    <div class="burger">
        <i class="fas fa-bars"></i>
    </div>
    <div class="close">
        <i class="fas fa-times"></i>
    </div>
</header>