<section class="project-section">
    <div class="section-title">
        <h2>
            Projects
        </h2>
        <div class="line">
            <span></span>
        </div>
    </div>
    <div class="projects-wrapper">
        <div class="project">
            <div class="p-details">
                <h2>Proform</h2>
                <p>Yubter is a platform that I created where people can join the community of their favorite youtube channels and can be part of the conversation.</p>
                <div class="case-study">
                    <a href="">Case Study</a>
                    <span></span>
                </div>
            </div>
            <div class="project-img">
                <img src="../../../../../../assets/developer.svg" alt="">
            </div>
        </div>
        <div class="project">
            <div class="p-details">
                <h2>Proform</h2>
                <p>Yubter is a platform that I created where people can join the community of their favorite youtube channels and can be part of the conversation.</p>
                <div class="case-study">
                    <a href="">Case Study</a>
                </div>
            </div>
            <div class="project-img">
                <img src="../../../../../../assets/developer.svg" alt="">
            </div>
        </div>
        <div class="project">
            <div class="p-details">
                <h2>Proform</h2>
                <p>Yubter is a platform that I created where people can join the community of their favorite youtube channels and can be part of the conversation.</p>
                <div class="case-study">
                    <a href="">Case Study</a>
                </div>
            </div>
            <div class="project-img">
                <img src="../../../../../../assets/developer.svg" alt="">
            </div>
        </div>
        <div class="project">
            <div class="p-details">
                <h2>Proform</h2>
                <p>Yubter is a platform that I created where people can join the community of their favorite youtube channels and can be part of the conversation.</p>
                <div class="case-study">
                    <a href="">Case Study</a>
                </div>
            </div>
            <div class="project-img">
                <img src="../../../../../../assets/developer.svg" alt="">
            </div>
        </div>
    </div>
</section>
