<section class="introduction-section">
    <div class="intro">
        <h1 class="name">Hey, I'm Manigandan</h1>
        <p>A Frontend focused Web Developer building the Frontend of Websites and Web Applications that leads to the success of the overall product</p>
        <div class="download-button">
            <button>Download Resume</button>
        </div>
    </div>
    <div class="into-social">
        <span><i class="fab fa-linkedin"></i></span>
        <span><i class="fab fa-twitter"></i></span>
        <span><i class="fab fa-github"></i></span>
    </div>
</section>