<section class="about-section">
    <div class="section-title">
        <h2>
            About me
        </h2>
        <div class="line">
            <span></span>
        </div>
    </div>
    <div class="about-me">
        <div class="about-me-para">
            <div class="about-me-img">
                <img src="../../../../../../assets/developer.svg" alt="">
            </div>
            <p>I'm a Frontend Web Developer building the Front-end of Websites and Web Applications that leads to the
                success of the overall product. Check out some of my work in the Projects section.,<br>
                I also like sharing content related to the stuff that I have learned over the years in Web Development
                so it can help other people of the Dev Community. Feel free to Connect or Follow me on my Linkedin where
                I post useful content related to Web Development and Programming<br>
                I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity
                that matches my skills and experience then don't hesitate to contact me.</p>
        </div>
        <div class="about-me-skill">
            <h2>My Skills</h2>
            <div class="skills-div">
                <div class="skill" *ngFor="let skill of skills">{{skill}}</div>
            </div>
        </div>
    </div>
    <div class="qulification-details">
        <div class="academic">
            <div class="qualification-heading">
                <h2>Academic Qualification</h2>
                <div class="qual-line"><span></span></div>
            </div>
            <div class="timeline-details">
                <div class="timeline-line"></div>
                <div class="s-detail">
                    <div class="timiline-icon">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <p>Bachelor of Engineering</p>
                    <p>T John Institute of Technology, Bangalore</p>
                    <p>2013 - 2017</p>
                </div>
                <div class="s-detail">
                    <div class="timiline-icon">
                        <i class="fas fa-university"></i>
                    </div>
                    <p>PUC</p>
                    <p>Krupanidhi Pre University, Bangalore</p>
                    <p>2011 - 2013</p>
                </div>
                <div class="s-detail">
                    <div class="timiline-icon">
                        <i class="fas fa-school"></i>
                    </div>
                    <p>SSLC</p>
                    <p>Balayesu Vidhyalaya, Bangalore</p>
                    <p>2013 - 2017</p>
                </div>
            </div>
        </div>
        <div class="experience">
            <div class="qualification-heading">
                <h2>Job Experience</h2>
                <div class="qual-line"><span></span></div>
            </div>
            <div class="timeline-details">
                <div class="timeline-line"></div>
                <div class="s-detail">
                    <div class="timiline-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p>Software Engineer</p>
                    <p>CSG Solutions India PVT LTD, Bangalore</p>
                    <p>2013 - 2017</p>
                </div>
                <div class="s-detail">
                    <div class="timiline-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p>Senior Assosiate</p>
                    <p>Wipro, Bangalore</p>
                    <p>2013 - 2017</p>
                </div>
                <div class="s-detail">
                    <div class="timiline-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p>Delivery Executive</p>
                    <p>Swiggy, Bangalore</p>
                    <p>2013 - 2017</p>
                </div>
            </div>
        </div>
    </div>
</section>