/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
:root {
    --grey-color:#c0c0c0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
}

$black: #0000;
$white: #0000;
$grey: #c0c0c0;
$blue: #000080;
